 #board {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin: 5%;
   gap: 20px;
 }

 .grid-item {
   display: flex;
   justify-content: center;
   align-items: center;
   outline: 1px solid gray;
   overflow: hidden;
   font-size: 24px;
   border-radius: 10px;
   user-select: none;
 }

 .grid-item.selected {
   outline: 4px solid red;
 }